.filter-card {
    background-color: #fff;
    margin: 2%;
    border-radius: 6px;
    text-align: center;
    padding-bottom: 2rem;

    h3 {
        text-align: start;
        padding: 0.3rem 0.5rem;
    }

    h4 {
        font: normal 14px arial, sans-serif;

        &:not(:first-of-type) {
            padding-top: 0.5rem;
        }
    }

    .filter-item {
        text-align: center;
        margin: 0 15%;
        border-bottom: 1.3px solid rgba(0, 0, 0, 0.3)
    }

    .column {
        grid-template-columns: 1fr 1fr;
        max-width: fit-content;
        margin: 0 auto;
    }

    .btn {
        width: 3.6rem;
        height: 1.5rem;
        background: #c5e09b;
        border-radius: 4px;
        border: none;
        margin: 0.4rem;
        cursor: pointer;
        outline: none;

        &-selected {
            background-color: #7cba01;
        }
    }
}