<div class="filter-card">
    <h3>Filters</h3>
    <h4 class="filter-item">Launch Year</h4>
    <span class="d-grid column">
        <input type="button" *ngFor="let year of launchYears" id="year-{{year}}"
            [ngClass]="{'btn-selected': year == selectedYear}" (click)="setFilter($event)" class="btn" value="{{year}}">
    </span>
    <h4 class="filter-item">Successful Launch
    </h4>
    <span class="d-grid column">
        <input type="button" *ngFor="let outcome of outcomes" id="launch-{{outcome[1].toLowerCase()}}"
            [ngClass]="{'btn-selected': outcome[1].toLowerCase() == isLaunchSuccess}" (click)="setFilter($event)"
            class="btn" value="{{outcome[1]}}">
    </span>
    <h4 class="filter-item">Successful Landing</h4>
    <span class="d-grid column">
        <input type="button" *ngFor="let outcome of outcomes" id="land-{{outcome[1].toLowerCase()}}"
            [ngClass]="{'btn-selected': outcome[1].toLowerCase() == isLandSuccess}" (click)="setFilter($event)"
            class="btn" value="{{outcome[1]}}">
    </span>
</div>